@(projects: Seq[models.Project])

@import helper._
@import controllers.Forms._

@main("Welcome to PlayExperiments") {
  <h2>Featured experiments</h2>

  <ul class="featured">
      @projects.take(3).map{ p =>
          <li>
              <div class="featured-img">
                  <div class="pic">
                      <a href="@routes.Application.get(p.id.get)">
                        <img src="@p.image" alt="@p.name">
                      </a>
                  </div>
              </div>
              <div class="featured-desc">
                  <h3><a href="@routes.Application.get(p.id.get)">@p.name</a></h3> <span>by @p.authors.map(_.name).mkString(", ")</span>
                  <p>@p.description</p>
                  <div class="stars">
                      <div class="full-star"></div>
                      <div class="full-star"></div>
                      <div class="full-star"></div>
                      <div class="full-star"></div>
                      <div class="full-star"></div>
                  </div>
              </div>
          </li>
      }
  </ul>

  <div class="experiments-title"> All experiments </div>
  <table class="experiments">
    @projects.map{ p =>
      <tr>
          <td class="author">
              <div class="avatar">
                  <img src="@p.image" alt="efefeefee">
              </div>
              <span class="title"><a href="@routes.Application.get(p.id.get)">@p.name</a></span>
              <span class="coder"> @p.authors.map(_.name).mkString(", ") </span>
          </td>
          <td class="desc"> @p.description.take(80) </td>
          <td class="stars">
              <div class="full-star"></div>
              <div class="full-star"></div>
              <div class="full-star"></div>
              <div class="empty-star"></div>
              <div class="empty-star"></div>
          </td>
      </tr>
    }
  </table>
}
