@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.at("stylesheets/reset.css")">
        <link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.at("stylesheets/styles.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a href="@routes.Application.index()" alt="Play! experiments">
                    <span id="play"> Play </span> <span id="exp">Experiments</span>
                </a>
                <h1>Welcome to the <i>!Play</i> experiments</h1>
                <h2>enter the game, si t'en es capable ;-) dhuhdow qh hdiowhq f f few0 i jfew</h2>
                <a href="@routes.Application.submit" class="button">Submit Experiment</a>
            </div>
            <div class="content">
                @content
            </div>
        </div>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    </body>
</html>
