@(pf: Form[models.Project])

@import helper._
@import controllers.Forms._

@main("Welcome to PlayExperiments") {
<h2>Home > <span class="active">Submit experiment</span></h2>

<p class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know</p>

<p class="text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>

  @form(routes.Application.save) {
    <fieldset>
      @inputText(pf("project.name"), 'label -> "Experiment name")(exinput)
      @inputText(pf("author.name"), 'label -> "author name")(exinput)
      @inputText(pf("author.email"), 'label -> "author email")(exinput)
      @inputText(pf("author.url"), 'label -> "author url")(exinput)
      @inputText(pf("project.repo"), 'label -> "repository")(exinput)
    </fieldset>
    <fieldset>
      @inputText(pf("project.image"), 'label -> "image")(exinput)
      @inputText(pf("project.url"), 'label -> "project host")(exinput)
      <dl>
          <dt><label for='@pf("project.description").id'>Description</label></dt>
        <dd>
            <textarea id='@pf("project.description").id' name='@pf("project.description").name'></textarea>
        </dd>
      </dl>
      <input type="submit" value="Submit experiment">
    </fieldset>
  }
}
