@(pf: Form[models.Project])

@import helper._
@import controllers.Forms._

@main("Welcome to PlayExperiments") {
<h2>Home > <span class="active">Submit experiment</span></h2>

<p class="text">
    Submit your project to the Play! Experiments and show to the world how the future looks like!
    Fill the form and we will and it's done!

    Follow our twitter account <a href="http://twitter.com/playexperiments">@@playexperiments</a> to be informed when your experiment is online or when it enters the featured experiments.
</p>

  @form(routes.Application.save) {
    <fieldset>
      @inputText(pf("project.name"), 'label -> "Experiment name", 'placeholder -> "My super project", 'required -> "")(exinput)
      @inputText(pf("author.name"), 'label -> "author name", 'placeholder -> "Guillaume Bort", 'required -> "")(exinput)
      @inputText(pf("author.email"), 'label -> "author email", 'placeholder -> "me@me.com", 'required -> "")(exinput)
      @inputText(pf("author.url"), 'label -> "author url", 'placeholder -> "http://mysite.com", 'required -> "")(exinput)
      @inputText(pf("project.repo"), 'label -> "repository", 'placeholder -> "http://github.com/test/toto", 'required -> "")(exinput)
    </fieldset>
    <fieldset>
      @inputText(pf("project.image"), 'label -> "image", 'placeholder -> "http://mysite.com/images/test.png", 'required -> "")(exinput)
      @inputText(pf("project.url"), 'label -> "project host", 'placeholder -> "http://mysite.com/demo", 'required -> "")(exinput)
      <dl>
          <dt><label for='@pf("project.description").id'>Description</label></dt>
        <dd>
            <textarea id='@pf("project.description").id' 
                name='@pf("project.description").name' 
                placeholder="my super project is about..."></textarea>
        </dd>
      </dl>
      <input type="submit" value="Submit experiment">
    </fieldset>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("a[href='@routes.Application.submit']").hide();
        });
    </script>
}
