@(pf: Form[models.Project])

@import helper._
@import controllers.Forms._

@main("Welcome to PlayExperiments") {
<h2>Home > <span class="active">Submit experiment</span></h2>

<p class="text">
    Submit your project to the Play! Experiments and show to the world how the future looks like!
    Fill the form and we will and it's done!

    Follow our twitter account <a href="http://twitter.com/playexperiments">@@playexperiments</a> to be informed when your experiment is online or when it enters the featured experiments.
</p>

  @form(routes.Application.save) {
    <fieldset>
      @inputText(pf("project.name"), 'label -> "Experiment name", 'placeholder -> "Play! Experiments", 'required -> "")(exinput)
      @inputText(pf("author.name"), 'label -> "author(s) name(s)", 'placeholder -> "Julien Tournay, Anthony Aubertin, Paul Panserrieu", 'required -> "")(exinput)
      @inputText(pf("author.email"), 'label -> "author(s) email(s)", 'placeholder -> "jto@zenexity.com, aau@zenexity.com, ppa@zenexity.com", 'required -> "")(exinput)
      @inputText(pf("author.url"), 'label -> "author url", 'placeholder -> "http://zenexity.com", 'required -> "")(exinput)
      @inputText(pf("project.repo"), 'label -> "repository url", 'placeholder -> "http://github.com/jto/playexperiments", 'required -> "")(exinput)
    </fieldset>
    <fieldset>
      @inputText(pf("project.image"), 'label -> "image url (400x300)", 'placeholder -> "/assets/images/playexperiments.png", 'required -> "")(exinput)
      @inputText(pf("project.url"), 'label -> "project host", 'placeholder -> "http://playexperiments.com", 'required -> "")(exinput)
      <dl>
          <dt><label for='@pf("project.description").id'>Description</label></dt>
        <dd>
            <textarea id='@pf("project.description").id' 
                name='@pf("project.description").name' 
                placeholder="my super project is about..."></textarea>
        </dd>
      </dl>
      <input type="submit" value="Submit experiment">
    </fieldset>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("a[href='@routes.Application.submit']").hide();
        });
    </script>
}
